/* Write your CSS here */
.courses-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 24px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  height: 18px;
  width: 18px;
}
.duration {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  margin-left: 12px;
}
.card-des {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
.tags-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.each-tag-container {
  background-color: #ccc8c8;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 140px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 10px;
  text-align: center;
}
.tag-item {
  color: #1e293b;
  font-weight: 800;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}
